Dear <%= @trainer_name %>,
<br/><br/>
You recently registered <%= @gym_name %> with Oz Fighters. <br/>
To complete the registration process, simply click the below link:
<br/><br/>
<a href="http://www.ozfighters.com.au/registration/activate/<%= @gym_id %>?activation_code=<%= @activation_code %>">http://www.ozfighters.com.au/registration/activate?activation_code=<%= @activation_code %><%= %></a>
<br/><br/>

OR
<br/><br/><br/>

copy/paste the below URL into your browser and hit "enter" an your account will become activated:
<br/><br/>
http://www.ozfighters.com.au/registration/activate/<%= @gym_id %>?activation_code=<%= @activation_code %>
<br/><br/><br/>

Once you have clicked the link / visited the URL, you will get a message saying that your account has been activated. 
You can then begin adding your fighters to the Oz Fighters database for promoters and fans (and practically the whole of Australia!) to look at!
<br/><br/>
Kind Regards,
Adam Witt
witt@ozfighters.com.au

[ PLEASE DO NOT REPLY TO THIS EMAIL AS IT IS AN AUTOMATED EMAIL. IF YOU WISH TO GET IN CONTACT WITH SOMEONE, PLEASE USE THE FOLLOWING EMAIL: witt@ozfighters.com.au ]
